{
  "presets": [
    "react-native"
  ],
  "plugins": [
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "alias": {
          "src": "./src"
        },
        "extensions": [
          ".js",
          ".jsx",
          ".ios.js",
          ".android.js",
          ".jpg",
          ".png"
        ]
      }
    ]
  ]
}
